.products-templates-item {
    display: inline-block;
    background-color: #fff;
    width: 400px;
    margin-right: 2px;
    margin-bottom: 2px;

    & .product-img { 
        width: 350px;
    }
    
    & .products-templates-item-desc {
        padding: 25px;

        & h3 {
            color: #011F3A;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 0.36px;
        }

        & p {
            color: #777777;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            width: 209px;
        }

        & span {
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            width: 80px;
            color: #A1A1A1;
        }
    }

}