.doit-content {
  text-align: center;
}
.doit-content h3 {
  font-weight: bold;
  font-size: 31px;
  color: #011f3a;
  margin-bottom: 55px;
}
.doit-content a:nth-child(1) {
  background-color: #3d5675;
  border-radius: 100px;
  padding: 13px 25px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.96px;
  color: #fff;
  font-size: 14px;
}
.doit-content a:nth-child(1):hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #233142;
}