.request-items {
    padding-top: 110px;
    padding-bottom: 103px;

    & .request-items-conent {
        & img {
            width: 210px;
            height: 210px;
        }

        text-align: center;
        &:nth-child(1) {
            border-right: 2px solid #a1a1a1;
        }

        & h2 {
            margin-top: 24px;
            font-weight: bold;
            font-size: 24px;
            color: #011f3a;
        }

        & p {
            font-weight: normal;
            font-size: 15px;
            color: #3d5675;
            line-height: 24px;
        }

        & a {
            border: none;
            outline: none;
            background-color: #fff;
            padding: 13px 25px;
            border-radius: 100px;
            text-decoration: none;
            color: #3d5675;
            text-transform: uppercase;
            letter-spacing: 1.96px;
            font-size: 14px;
            font-weight: bold;

            &:hover {
                transition: 0.1s;
                background-color: #3d5675;
                color: #fff;
            }
        }
    }
}
